doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Coco
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header
            h1 Coco
        main
            div#myStream
                video#myFace(autoplay,playsinline, width="400", height="400")
                button#mute 음소거
                button#camera 카메라 끄기
                select#cameras
            div#welcome
                form
                    input#roomName(placeholder="방 제목", required, type="text")
                    input#nickName(placeholder="닉네임", required, type="text")
                    button 입장 
                h4 방 목록:
                ul
            div#room
                h3
                ul
                form#msg
                    input(placeholder="메시지", required, type="text")
                    button 보내기
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")